{% extends 'base.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block body %}

<br>
<h3>Se Connecter</h3>
<br>
<form action="{{ path('security_login') }}" method="post">
    <div class="form-group">
        <input class="form-control" placeholder="Adresse Email" type="text" name="_username">
    </div>
    <br>
    <div class="form-group">
        <input class="form-control" placeholder="Mot de passe" type="password" name="_password">
    </div>
    <br>
    <div class="form-group">
       <button class="btn btn-success" type="submit">Se Connecter</button>
    </div>
</form>


{% endblock %}
