{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title  %}
	Bienvenue sur le BackOffice de BookStream !
{% endblock %}

{% block page_content %}
   <h4>Votre Tableau de Bord :</h4>
{% endblock %}
