{# templates/bundles/TwigBundle/Exception/error403.html.twig#}
{% extends 'base.html.twig' %}
{% block title %}Erreur 403{% endblock %}
{% block body %}
    <h3 class="text-center">SECURITE 403 ACCES REFUSE</h3>
	<div class="text-center"  > 
        <br><br>
        <h4>{{ exception.message }} </h4> 
    </div>
    <div class="text-center"  > 
        <img width="50%" src="{{asset(get_env('CHEMIN_IMAGES'))}}/403.jpg">    
    </div>
{% endblock %}
